* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #052739;
}

section {
    height: 100vh;
    padding: 0px 100px;
}

// Header
header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	width:100%;
	height:150px;
    max-width: 1440px;
    margin: auto;
}

nav a {
	display: inline-flex;
	float:right;
	padding: 5px;
	color: white;
}

// Wrapper
.wrapper {
    // max-width: 1440px;
    margin: auto;
}

// Pre Loader 
.pre-loader {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;

    background-color: #EFEFEF;
    width: 100%;
    height: 100%;
    display: none;

    &__waves {
        content: '';
        position: absolute;
        z-index: 101;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: calc(100% + 200px);
        background-image: url('../img/svg/waves-fullscreen.svg');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        transform: translateY(100%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__emoji {
        font-size: 14em;
    }

    &__progress {
        font-size: 22px;
        font-weight: 700;
        margin-top: 15px;
        color: #C0C0C0;
    }
}

.noScroll {
    overflow: hidden;
}

// Landing
.landing {
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #41A5C5 0%, #c1eaf8 100%);
    }


    &::after {
        content: '';
        position: absolute;
        z-index: 5;
        bottom: -70px;
        left: 0px;
        width: 100%;
        height: 400px;
        background-image: url('../img/svg/waves-front.svg');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
    }
}

// Socials
.socials {
    padding: 0.8em 0px;

    &__link {
        color: #E9E9E9;
        margin-right: 15px;
        padding: 10px;
        border: 2px solid #E9E9E9;
        border-radius: 100%;
        transition: 200ms ease;

        &:last-of-type {
            margin-right: 0px;
        }

        & i {
            height: 16px;
            width: 16px;
            text-align: center;
        }

        &:hover {
            background-color: #E9E9E9;
            color: #14232C;
        }
    }
}

// Button
.button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border: 5px solid black;
    text-decoration: none;
    padding: 1.2em 0.8em;
    transition: 200ms ease-in-out;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 0%;
        height: 100%;
        transition: 200ms ease-in-out;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }

    &--dark {
        color: #0D1B62;
        border-color: #0D1B62;

        &::before {
            background-color: #0D1B62;
        }

        &:hover {
            color: #F6F6F6;
        }
    }

    &--light {
        color: #D9D9D9;
        border-color: #D9D9D9;

        &::before {
            background-color: #D9D9D9;
        }

        &:hover {
            color: #052739;
        }

        &:hover #button__arrow--light {
            fill: #052739;
            stroke: #052739;
        }
    }
}

#button__arrow--light {
    transition: 200ms ease-in-out;
    fill: #D9D9D9;
    stroke: #D9D9D9;
}

// Trails
.trails {

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: calc(100vh + 350px);
        // left: 150px;
        width: 100%;
        height: 1050vh;
        background-image: url("../img/svg/trail-desktop.svg");
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
    }
}

// Backdrop
.backdrop {

    &__asset {
        position: absolute;
        width: 25vw;
        min-width: 100px;

        &--001 {
            top: -350px;
            left: 0px;
        }

        &--002 {
            top: -550px;
            right: 0px;
        }

        &--003 {
            top: -200px;
            right: 0px;
        }

        &--004 {
            top: 800px;
            left: 0px;
            width: 100%;
        }
    }
}

// Chapter
.chapter {
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: auto;
        height: 100%;

        &--left {
            justify-content: flex-start;
        }
    
        &--right {
            justify-content: flex-end;
        }
    }

    &__text {
        font-size: 22px;
        font-weight: 500;
        color: #F2F2F2;
        line-height: 1.6em;
        max-width: 610px;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }
}

// Object
.object {
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
        height: 100%;
    }

    &__sketchfab {
        width: 40%;
        height: 40%;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__right {
        width: 50%;
        margin-left: 40px;
    }

    &__heading {
        font-size: 66px;
        font-weight: 800;
        color: #F2F2F2;
        margin-bottom: 35px;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        color: #D9D9D9;
        margin-bottom: 50px;
        line-height: 1.4em;
    }

    &__details {
        margin-bottom: 100px;
    }

    &__label {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #A1A1A1;
        margin-right: 10px;
    }

    &__detail {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        color: #F9F9F9;
        margin-right: 40px;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.object-full {
    display: flex;
    align-items: center;
    justify-content: center;

    &__sketchfab {
        width: 90vw;
        height: 90vh;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }
}

// Footer
.footer {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #14232C;
    }

    &__transition {
        position: relative;
        margin-top: 160px;
        
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            top: -160px;
            left: 0px;
            height: 160px;
            width: 100%;
            background-image: url("../img/svg/oceanfloor.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
    }

    &__heading {
        font-size: 40px;
        font-weight: 800;
        color: #E9E9E9;
        line-height: 1.4em;
        max-width: 60%;
        margin-bottom: 100px;
        align-self: flex-start;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &__org {
        &:first-of-type {
            margin-right: 40px;
        }
    }

    &__logo {
        padding: 20px;
        background-color: #121F27;
        width: 250px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 22px;
        font-weight: 500;
        color: #E9E9E9;
        line-height: 1.8em;
        text-align: justify;
        width: 90%;
    }

    &__map {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #172630;
        }
        
    }
}