* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    background-color: #052739;
}

section {
    height: 100vh;
    padding: 0px 100px;
}

// Header
.header {
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

	width: 1440px;
    padding-top: 50px;

    &__logos {
        height: 60px;
    }
}

// Wrapper
.wrapper {
    // max-width: 1440px;
    margin: auto;
}

// Pre Loader 
.pre-loader {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;

    background-color: #F5EAC2;
    width: 100%;
    height: 100%;

    &__waves {
        content: '';
        position: absolute;
        z-index: 101;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: calc(100% + 900px);
        background-image: url('../img/svg/waves-fullscreen.svg');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        transform: translateY(100%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__emoji {
        font-size: 14em;
    }

    &__progress {
        font-size: 22px;
        font-weight: 700;
        margin-top: 15px;
        color: #484848;
        opacity: 0.25;
    }
}

.noScroll {
    overflow: hidden;
}

// Landing
.landing {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #41A5C5 0%, #c1eaf8 100%);
    }

    &__backdrop__clouds {
        position: absolute;
        top: 40px;
        left: 0px;
        width: 100%;
        height: 400px;
        background-image: url('../img/svg/clouds.svg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    &__backdrop__wave {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 400px;
        background-image: url('../img/svg/wave.svg');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
    }

    &__backdrop__island{
        position: absolute;
        z-index: 4;
        bottom: 220px;
        right: 50px;
    }

    &__backdrop__birds{
        position: absolute;
        z-index: 5;
        bottom: 740px;
        right: 100px;
    }

    &__backdrop__wave--001 {
        z-index: 3; 
        bottom: -10px;
        background-position: 20% 100%;
    }

    &__backdrop__wave--002 {
        z-index: 4;
        bottom: -30px;
        background-position: 32% 100%;
    }

    &__backdrop__wave--003 {
        z-index: 5;
        bottom: -60px;
        background-position: 0% 100%;
    }
}

// Socials
.socials {
    display: flex;
    padding: 0.8em 0px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        color: #E9E9E9;
        margin-right: 15px;
        border: 3px solid #E9E9E9;
        border-radius: 100%;
        transition: 200ms ease;
        text-decoration: none;
        

        &:last-of-type {
            margin-right: 0px;
        }

        & i, svg {
            height: 18px;
            width: 18px;
            text-align: center;
            transition: 200ms ease;
        }

        &:hover {
            background-color: #E9E9E9;
            color: #14232C;

            #insta {
                fill: #14232C;                
            }
        }
    }
}

// Button
.button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border: 5px solid black;
    text-decoration: none;
    padding: 1.2em 0.8em;
    transition: 200ms ease-in-out;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 0%;
        height: 100%;
        transition: 200ms ease-in-out;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }

    &--dark {
        color: #0D1B62;
        border-color: #0D1B62;

        &::before {
            background-color: #0D1B62;
        }

        &:hover {
            color: #F6F6F6;
        }
    }

    &--light {
        color: #D9D9D9;
        border-color: #D9D9D9;

        &::before {
            background-color: #D9D9D9;
        }

        &:hover {
            color: #052739;
        }

        &:hover #button__arrow--light {
            fill: #052739;
            stroke: #052739;
        }
    }
}

#button__arrow--light {
    transition: 200ms ease-in-out;
    fill: #D9D9D9;
    stroke: #D9D9D9;
}

// Trail
.trail {
    position: absolute;
    z-index: -1;
    top: calc(100vh + 350px);
    left: 0px;
    right: 0px;
    bottom: 50vh;
    background-image: url("../img/svg/trail-desktop.svg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

// Backdrop
.backdrop {

    &__asset {
        position: absolute;
        width: 25vw;
        min-width: 200px;

        &--001 {
            top: -350px;
            left: 0px;
        }

        &--002 {
            top: -550px;
            right: 0px;
        }

        &--003 {
            top: -200px;
            right: 0px;
        }

        &--004 {
            top: 800px;
            left: 0px;
            width: 100%;
        }
    }
}

// Chapter
.chapter {
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: auto;
        height: 100%;

        &--left {
            justify-content: flex-start;
        }
    
        &--right {
            justify-content: flex-end;
        }
    }

    &__text {
        font-size: 22px;
        font-weight: 500;
        color: #F2F2F2;
        line-height: 1.6em;
        max-width: 610px;

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }
}

// Object
.object {
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
        height: 100%;
    }

    &__sketchfab {
        width: 40%;
        height: 40%;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__right {
        width: 50%;
        margin-left: 40px;
    }

    &__heading {
        font-size: 66px;
        font-weight: 800;
        color: #F2F2F2;
        margin-bottom: 35px;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        color: #D9D9D9;
        margin-bottom: 50px;
        line-height: 1.4em;
    }

    &__details {
        margin-bottom: 100px;
    }

    &__label {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #A1A1A1;
        margin-right: 10px;
    }

    &__detail {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        color: #F9F9F9;
        margin-right: 40px;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.object-full {
    display: flex;
    align-items: center;
    justify-content: center;

    &__sketchfab {
        width: 90vw;
        height: 90vh;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }
}

// Footer
.footer {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #14232C;
    }

    &__transition {
        position: relative;
        margin-top: 160px;
        
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            top: -160px;
            left: 0px;
            height: 160px;
            width: 100%;
            background-image: url("../img/svg/oceanfloor.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
    }

    &__heading {
        font-size: 40px;
        font-weight: 800;
        color: #E9E9E9;
        line-height: 1.4em;
        max-width: 60%;
        margin-bottom: 100px;
        align-self: flex-start;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }

    &__right {
        width: 50%;
        margin-left: 40px;
    }

    &__org {
        &:first-of-type {
            margin-right: 40px;
        }
    }

    &__logo {
        padding: 20px;
        background-color: #121F27;
        width: 250px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 22px;
        font-weight: 500;
        color: #E9E9E9;
        line-height: 1.8em;
        text-align: justify;
    }

    &__map {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            z-index: -2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #172630;
        }
        
    }
}

// Media Queries
@media(max-width: 1360px) {
    section {
        padding: 0px 20px;
    }

    .object {
        &__right {
            margin-left: 10px;
        }
    }
}

@media(max-width: 1220px) {
    .footer {

        &__content {
            height: auto;
            padding: 25vh 50px;
        }

        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &__right {
            margin-left: 0px;
            margin-top: 120px;
        }
    }
}

// Tablet
@media(max-width: 1023px) {
    .object {
        height: auto;
        padding: 25vh 50px;

        &__container {
            flex-direction: column;
            max-width: 580px;
        }

        &__sketchfab {
            height: 50vh;
            width: 100%;
            margin-bottom: 40px;
        }

        &__right {
            width: 100%;
        }
    }
}

@media(max-width: 900px) {
    .landing {
        &::after {
            height: 240px;
        }
    }

    .backdrop {
        &__asset {
            &--001 {
                top: -300px;
            }

            &--002 {
                top: -400px;
            }
        }
    }

    .footer {

        &__heading {
            max-width: 80%;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 75%;
        }
    }
}

@media(max-width: 720px) {
    .footer {

        &__heading {
            max-width: 100%;
        }

        &__left {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__org {

            &:first-of-type {
                margin-right: 0px;
                margin-bottom: 40px;
            }
        }

        &__right {
            width: 100%;
        }
    }
}

// Mobile

@media(max-width: 460px) {
    .pre-loader {
        &__emoji {
            font-size: 8em;
        }
    }

    .landing {
        &::after {
            height: 180px;
        }
    }

    .button {
        font-size: 18px;
        padding: 1.2em 0.4em;

        & svg {
            width: 60px;
        }
    }

    .chapter {
        &__text {
            font-size: 18px;
        }
    }

    .backdrop {
        &__asset {
            &--001 {
                top: -120px;
            }

            &--002 {
                top: -280px;
            }
        }
    }

    .object {
        padding: 50vh 20px;

        &__sketchfab {
            position: relative;
            height: auto;
            width: 100%;
            margin-bottom: 120px;
            padding-top: (1 / 1) * 100%;
            

            & iframe {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
            }
        }

        &__heading {
            font-size: 44px;
        }

        &__label {
            margin-right: 0px;
        }

        &__detail {
            display: block;
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    .footer {
        &__heading {
            font-size: 28px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media(max-width: 360px) {
    section {
        padding: 50vh 20px !important;
    }

    .landing {
        padding: 0px 20px !important;
    }

    .button {
        font-size: 12px;
        border-width: 2px;
        padding: 1.2em 0.6em;
    }

    .backdrop {
        &__asset {
            &--001 {
                top: -90px;
            }

            &--002 {
                top: -260px;
            }
        }
    }

    .object {
        &__heading {
            font-size: 38px;
        }
    }

    .footer {

        &__transition {
            padding: 0px 20px !important;
        }

        &__map {
            padding: 0px 20px !important;
        }
    }
}